---
import Layout from "@layouts/Layout.astro";
import ItemCard from "@components/ItemCard.astro";
import black_leather from "@assets/leather/black_leather.jpg";
---

<Layout title="ILC | Leather">
    <div class="flex flex-col justify-center items-center gap-2 p-10">
        <h2 class="text-4xl uppercase font-bold">Leather</h2>
        <span class="text-lg">
            We provide the finest and highest quality leather that money can
            buy!
        </span>
    </div>
    <div class="flex gap-4 flex-wrap justify-center items-center mb-10">
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Midnight Black"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Mystic Black"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Obsidian Black"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Sunshine Orange"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
        <ItemCard
            href="/leather/black-leather"
            imgURL={black_leather}
            name="Black Leather"
        />
    </div>
</Layout>
