---
import Layout from "@layouts/Layout.astro";
import Card from "@components/UI/Card.astro";
import ContactForm from "@components/UI/ContactForm.astro";

import heroPicture from "@assets/shirts.jpg";
import hero from "@assets/hero.mp4";
import shirt_shoes from "@assets/shirt-shoes.jpg";
import grandPrixOriginals from "@assets/suppliers/grandprixoriginals.webp";
import gamesSportsWear from "@assets/suppliers/games.jpeg";
import tagHeuer from "@assets/suppliers/tag_heur.png";
import InfoCards from "@components/InfoCards";
---

<Layout title="Mercury Exports">
    <div slot="hero" class="min-h-screen bg-black">
        <div
            slot="hero"
            class="hero min-h-screen lg:max-h-[80vh] overflow-hidden"
        >
            <div class="bg-black/25 w-full h-full z-10"></div>
            <div
                class="hero-overlay bg-opacity-10 h-full bg-cover"
                style={`background-image: url(${heroPicture});`}
            >
                <video
                    class="hidden lg:block object-cover w-full h-full"
                    autoplay
                    loop
                    muted
                    poster={heroPicture}
                >
                    <source src={hero} type="video/mp4" />
                </video>
            </div>
            <div class="hero-content text-center z-20">
                <div class="-translate-y-1/2">
                    <h1 class="text-6xl font-bold text-white">Hello there.</h1>
                    <p class="text-2xl py-6 font-semibold text-white">
                        We are Mercury Exports.
                    </p>
                    <button class="btn btn-primary">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
    <section class="min-h-fit snap-start">
        <h2 class="text-center text-5xl font-bold p-4 my-4">Our Services</h2>
        <InfoCards client:load />
        <!-- <div class="flex flex-col lg:flex-row gap-4 mb-10">
            <Card
                title="Technical Service"
                body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fuga impedit facere deserunt, rerum qui sit atque laudantium. Id officia laborum voluptate voluptatum libero, dolore quam inventore odio suscipit provident."
            />
            <Card
                title="Fabric & Materials Sourcing"
                body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fuga impedit facere deserunt, rerum qui sit atque laudantium. Id officia laborum voluptate voluptatum libero, dolore quam inventore odio suscipit provident."
            />
            <Card
                title="Manufacturing"
                body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fuga impedit facere deserunt, rerum qui sit atque laudantium. Id officia laborum voluptate voluptatum libero, dolore quam inventore odio suscipit provident."
            />
        </div> -->
    </section>

    <section class="min-h-fit">
        <h2 class="text-center text-5xl font-bold p-4 my-4">Our Story</h2>
        <div class="flex flex-col lg:flex-row gap-4 mb-10">
            <div class="basis-full">
                <img src={shirt_shoes} />
            </div>
            <div class="flex flex-col basis-full justify-center">
                <p class="py-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Officiis sint omnis error qui ullam ex, voluptates, atque
                    suscipit exercitationem dolorum ipsa in voluptatibus nemo,
                    quisquam voluptatem! Doloremque ipsa quo laborum quam dicta
                    tempore vitae quod quae itaque quia labore obcaecati
                    deleniti praesentium sapiente, laudantium dolor! Quaerat
                    voluptatem sint esse quo sequi eum harum architecto, hic
                    dolores ducimus incidunt iure, a voluptatum tenetur? Eveniet
                    iure exercitationem in ratione ex voluptas. A vitae facere
                    corporis voluptatibus esse mollitia, voluptates asperiores
                    dolorum, magni quas suscipit similique. Aliquid rem cum
                    autem harum repudiandae ducimus blanditiis consequatur nobis
                    eius adipisci neque assumenda, tenetur in culpa!
                </p>
                <button class="btn btn-primary">Read More!</button>
            </div>
        </div>
    </section>

    <section class="min-h-fit">
        <h2 class="text-center text-5xl font-bold p-4 my-4">
            Trusted Supplier
        </h2>
        <div class="flex gap-10 justify-center items-center">
            <figure class="basis-full">
                <img src={grandPrixOriginals} />
            </figure>
            <figure class="basis-full">
                <img src={gamesSportsWear} />
            </figure>
        </div>
    </section>

    <section class="min-h-fit">
        <h2 class="text-center text-5xl font-bold p-4 my-4">Contact Us</h2>
        <div class="flex flex-col justify-center p-4 gap-4">
            <p>
                What are you waiting for? If you have a design you would like to
                see be made in reality don't wait to contact us!
            </p>
            <ContactForm />
        </div>
    </section>
</Layout>
